<% layout('/layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">Edit Trail</h1> 
    <div class="col-md-6 offset-md-3">
        <form action="/trails/<%= trail._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="trail[title]" value="<%= trail.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="trail[location]" value="<%= trail.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            
            <!-- image edit -->
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Add More Images</label>
                <input type="file" class="form-control" id="formFileMultiple" name="image" multiple >
            </div>
            <div class="mb-3"> <!-- deleting image -->
                <% trail.images.forEach(function(img, index) { %>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                         <!-- any checkbox that was checked, has it's value passed to deleteImages[]-->
                         <!-- if there are any deleteImages, we take each filename in deleteImages & delete it from cloudinary & mongodb -->
                         <input type="checkbox" id="image-<%= index %>" name="deleteImages[]" value="<%= img.filename %>">
                    </div>
                    <label for="image-<%= index %>">Delete?</label>
                <% }) %>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="trail[description]" required> <%= trail.description %> </textarea> <!-- we dont use the val attribute on the textarea, just put between open and close tags-->
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Save Trail</button>
            </div>
        </form>
        <a href="/trails/<%= trail._id %>">Back to Trail</a>
    </div>
</div>